@media (min-width: 600px) {
    .cad{
        margin-left: 240px;
        width: 60vw;
        min-width: 400px;
    }
}

.cad{
    padding: 30px;
    display: block;
    margin-top: 60px;
}

@media (max-width: 599px){
    .cad{
        width: 95vw;
    }
}