@media (min-width: 600px) {
    .FormsCadastrarEvento {
        margin-left: 240px;
        width: calc(100%-250px);
        max-width: 1000px;
    }
}

.FormsCadastrarEvento {
    padding: 30px;
    display: block;
    margin-top: 60px;
}

@media (max-width: 599px) {
    .FormsCadastrarEvento {
        width: 95%;
    }
}