
.jumbotron-event{
  padding: 15px;
}

.colum-control{
  width: 100%;
  max-width: 240px;
}

.presenceControl {
  display: flex;
  flex-wrap: wrap;
  &-label {
      max-width: 140px!important;
      min-width: 140px;
      padding-right: 0px;
  }
  &-inputText {
      max-width: 400px;
  }
}

.listPeople {
  display: flex;
  flex-wrap: wrap;
  &__label {
      max-width: 140px!important;
      min-width: 140px;
      padding-right: 0px;
  }
  &__inputText {
      max-width: 400px;
  }
}

@media (max-width: 500px) {
  .listPeople {
      justify-content: center;
  }
}