.cadastro-inputNumber{
  width: 150px;
  max-width: 150px;
}

.cadastro-inputText{
  max-width: 500px;
}

.cadastro-label{
  min-width: 170px;
}

.cadastro-inputGroup{
  max-height: 38px;
  max-width: 58px;
}