@media (min-width: 600px) {
    .ConsultarPessoas{
        margin-left: 240px;
        width: calc(100%-250);
    }
}

.ConsultarPessoas{
    padding: 30px;
    display: block;
    margin-top: 60px;
}

@media (max-width: 599px){
    .ConsultarPessoas{
        width: 95%;
    }
}