.footer{
  margin-top: 50px;
  bottom: 0;
  width: 100vw;
  position: absolute;
}

body{
  height: 100%;
}


.imagem{
  width: 300px;
  float: left;
  margin: 5px 10px;
}

.imagem100{
  width: 100%;
  margin: 5px 10px;
}