
.Comentario-label{
    min-width: 170px;
    padding-right: 0px;
}

.Comentario-inputText{
    max-width: 500px;
}

@media (min-width: 600px){
    .Comentario-inputText{
        min-width: 340px;
    }
}