@media (min-width: 600px) {
  .news-content{
      margin-left: 0px;
  }
}

.news-content{
  display: block;
}

.news-editor{
  width: 100%; 
  height: 100%; 
}

.div-button-hide{
  text-align: center;
}

.center-button{
  display: inline-block;
}