.news{
  &-content{
    margin-left: 20px;
    margin-right: 20px;
    max-width: auto;
  }


  &-editor{
    width: auto; 
    height: auto; 
    margin-bottom: 10px;
  }

  &-uploadPhoto{
    text-align: center;
    margin-bottom: 20px;
  }

  @media (max-width: 600px) {
    &-content{
      margin-left: 0px;
      margin-right: 0px;
    }

    &-uploadPhoto{
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

.feedback{
  position: relative;
  width: 100%;
  height: 37px;
}

.progress{
  color: #4caf50;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  // Como o tamanho do cirular progress é 24px, removemos 12px para alinhar no centro
  margin-left: -12px;
  margin-top: -12px
}

.div-button-hide{
  text-align: center;
}

.center-button{
  display: inline-block;
  width: 100%;
}
