.news{
  &-content{
    margin-left: 20px;
    margin-right: 20px;
    max-width: auto;
  }


  &-editor{
    width: auto; 
    height: auto; 
    margin-bottom: 10px;
  }

  @media (max-width: 600px) {
    &-content{
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

.div-button-hide{
  text-align: center;
}

.center-button{
  display: inline-block;
  width: 100%;
}
