
.card-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 }

.card-body{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: max-content;
  justify-content: center;
}

.card-subtitle {
  padding: 10px;
  float: left;
}

.card-img {
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
}

.card-footer{
  margin: 10px;
  padding: 0px;
  padding-top: 5px;
  padding-left: 5px;
  max-height: 60px;
  background-color: transparent;
}

.card-footer p{
  font-size: 13px;
  color: #666;
  margin-top: 2px;
}

.content {
  margin: 0px;
  padding: 0px; 
}

.column {
  float: left;
}

.column.side {
  width: 200px;
}

.column.middle {
  width: 50%;
}

.card-columns {
  column-count: 2;
}

@media screen and (max-width: 800px) {
  .column.side, .column.middle {
    width: 100%;
  }

  .card {
    width: 240px;
  }

  .card-columns {
    column-count: 1;
  }
}
