.card{
  &-columns {
    column-count: 2;
  }
  
  @media screen and (max-width: 800px) {
    &-columns {
      column-count: 1;
    }
  }
}

.sweetAlert{
  @media (min-width: 600px){
    position:relative;
     margin: 0 auto;
  }
  
  @media (max-width: 339px){
    position:relative;
    margin: 0 auto;
    top: 20px;
  }
  
  @media (min-width: 600px) and (max-width: 700px){
    width: 370px!important;
  }
}

