.contato {
    &__label {
        min-width: 170px;
        padding-right: 0px;
        max-width: 170px;
    }
    &__inputContact {
        max-width: 400px;
    }
    &__inputGroup {
        max-height: 38px;
        max-width: 58px;
    }
}