.CardHome{
  max-width: 900px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.35)!important;
  
  &-card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    height: max-content;
  }

  &-media{
    height: 180px;
    width: 100%;
    max-width: 320px;
  }

  &-content{
    flex: 1;
    min-width: 280px;
  }

  h2{
    font-size: 1.25rem;
    margin: 0;
    color: #30333C;
    width: 100%;
    font-weight: 600;
    display: block;
  }

  p{
    font-size: 0.9rem;
  }

  // Ajustando o tamanho da font para telas menores
  @media screen and (max-width: 640px) {
    h2{
      font-size: 1.15rem;     
    }

    &-media{ 
      height: 200px;
      width: 100%;
      max-width: 100%;
    }
  }
}


