.eventos {
    width: 100%;
    height: 100%;
    background-color: #E8EAED;
    &__load {
        text-align: center;
        margin: 0px 0px 50px 0px;
        color: #30333C;
        font-size: 1rem;
    }
    &__error {
        text-align: center;
        color: #bc2018;
        font-weight: 700;
        font-size: 1rem;
        margin: 34px 0px 50px 0px;
    }
    &__notFound {
        text-align: center;
        margin: 34px 0px 50px 0px;
        color: #30333C;
        font-size: 1rem;
        font-weight: 700;
    }
    &__main {
        width: 100%;
        height: 100%;
        min-height: calc(100vh - 190px);
        display: flex;
        justify-content: center;
        padding: 80px 20px 15px 20px;
    }
    &__content {
        background-color: #F8F9FA;
        min-width: 290px;
        max-width: 800px;
        width: 90%;
        height: 100%;
        padding: 16px 8px 0px 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__header {
        display: block;
        padding: 0px 8px 16px 8px;
        h4 {
            text-align: center;
            margin: 0;
            font-weight: 700;
            color: #30333C;
        }
        p {
            text-align: center;
            margin: 0;
            color: #30333C;
            font-size: .9375rem;
        }
    }
    &__marginTop16 {
        margin-top: 16px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    &__col {
        margin: 0px 0px 16px 0px!important;
        padding: 0px 8px 0px 8px!important;
    }
    &__link {
        display: block;
        width: 100%;
        flex-direction: column;
        color: #485460;
        img {
            transition: all 0.5s ease;
        }
    }
    &__link:hover {
        text-decoration: none;
        color: #485460;
        img {
            transform: scale(1.1);
        }
    }
    &__divImg {
        padding: 0;
        overflow: hidden;
        width: 100%;
        height: 250px;
        position: relative;
    }
    &__divImgEvento {
        padding: 0;
        overflow: hidden;
        width: 100%;
        max-width: 700px;
        height: 393.75px;
        position: relative;
    }
    &__img {
        position: absolute;
        height: 100%;
        width: 100%;
        border-style: none;
        object-fit: cover;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &__divInfo {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border: 1px solid #C6CDD4;
        padding: 5px 8px;
    }
    &__albumTitle {
        font-size: 1.3rem;
        margin: 0;
        color: #30333C;
        width: 100%;
        font-weight: 600;
        display: block;
    }
    &__albumText {
        font-size: .9rem;
        margin: 0;
        color: #485460;
        width: 100%;
        font-weight: normal;
        display: block;
        line-height: 1.3333;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__albumData {
        color: #30333C;
        font-size: 1.2rem;
        margin: 0;
        width: 100%;
        font-weight: normal;
        display: block;
        line-height: 1.3333;
    }
}