//Visualizar album css
.newsEditor {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0px;
        h2 {
            margin: 0;
        }
    }
    &__dados {
        margin: 0px;
        padding: 0px 0px;
        margin-top: 0px;
        margin-right: 5px;
        cursor: pointer;
        margin-bottom: 5px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    &__text {
        color: #30333C!important;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        margin-top: 0px;
    }
}