.active-item{
    color: #Bc2018!important;
    font-weight: 700!important;
    margin: 0px 0px 0px 20px!important;
}

.item{
    margin: 0px 0px 0px 20px!important;
}

.list-titulo{
    flex: 0%;
    margin-left: 5px;
    font-weight: 700!important;
    margin-bottom: 0px;
    padding: 5px 10px!important;
}
.list-item{
    padding: 5px 10px!important;
}

.divider-list{
    background-color: rgba(0, 0 , 0, 0.3)!important;
}