.sidebar{

    &__sectionDiv{
        display: flex;
        width: 100%;
        padding: 0px 5px;
        align-items: center;
    }

    &__sectionTitulo{
        font-weight: 700!important;
        margin-bottom: 0px;
        padding: 0px 5px!important;
    }

    &__activeItem{
        color: #Bc2018!important;
        font-weight: 700!important;
        margin: 0px!important;
        text-decoration: none;
        display: flex;
        width: 100%;
        outline: 0;
        padding: 5px 0px 5px 42px;
    }

    &__activeItem:hover{
        text-decoration: none;
        color: #Bc2018!important;
        background-color: #E8EAED;
    }

    &__icons{
        color: #30333C;
    }

    &__divider{
        background-color: #7F8F9F!important;
    }

    &__item{
        color: #30333C;
        margin: 0px!important;
        text-decoration: none;
        display: flex;
        width: 100%;
        outline: 0;
        padding: 5px 0px 5px 42px;
    }

    &__item:hover{
        text-decoration: none;
        color: #30333C;
        outline: 0;
        background-color: #E8EAED;
    }

    &__exit{
        color: #30333C;
        margin: 0px!important;
        display: flex;
        width: 100%;
        outline: 0;
        padding: 5px 5px;
        text-align: left;
        background-color: #ffffff;
        border: 0;
        font-weight: 700!important;
        align-items: center;
        font-size: 1rem;
    }

    &__exit:hover{
        color: #30333C;
        outline: 0;
        background-color: #E8EAED;
    }

    &__iconExit{
        color: #30333C;
        padding-right: 5px;
        font-size: 1.9em !important;
    }
}