.foot {
    padding: 10px 0px 20px 0px;
    background: linear-gradient(to right, #0085CF 40%, #54A0FF);
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center!important;
    }
    &__link {
        color: #E8EAED;
        padding-left: 20px;
        padding-right: 20px;
        outline: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 700;
    }
    &__link:hover {
        color: #fff;
        text-decoration: none;
    }
    &__icons {
        font-size: 3rem!important;
    }
}

p {
    color: #E8EAED;
    text-align: center;
    margin: 0!important;
}

a:focus {
    outline: 0;
}