@media (min-width: 600px) {
    .newsContent{
        margin-left: 240px;
    }
}

.newsContent{
    display: block;
    margin-top: 60px;
}

.newsEditor{
    width: 100%; height: 100%; 
}

.divBtnHide{
    text-align: center;
}

.centerButton{
    display: inline-block;
}