//Refatorada por Leonardo Nozaki
//Data: 27/02/2020
//Classes - OK
.login {
    &__container {
        height: 100vh;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    &__row {
        justify-content: center;
    }
    &__col {
        border-radius: 8px 8px;
        border-width: 1px;
        border-style: solid;
        border-color: #dadce0;
        padding: 30px;
        display: block;
        background-color: #fff;
    }
    &__title {
        justify-content: center;
        text-align: center;
        color: #202124;
        font-size: 24px;
        font-weight: 400;
        margin: 1vh 0;
    }
    &__subtitle {
        text-align: center;
    }
    &__error {
        text-align: center;
        color: #dc3545;
        justify-content: center;
    }
    &__button {
        width: 100%;
        background-color: #1a73e8;
        font-weight: 700;
    }
}

@media (min-width: 501px) {
    .login__col {
        min-width: 380px!important;
        flex-grow: 0;
    }
}

.form-control:focus {
    border-width: 2px!important;
    border-style: solid!important;
    border-color: #1a73e8!important;
    box-shadow: 0 0 0 0!important;
}