.modalBusca{
  margin-top: 50px;
  height: calc(100vh - 30px);

  &__dialog{
    max-width: 500px;
    min-width: 320px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  &__header{
    padding: 5px 10px 0px 10px;
	}
	
	&__button{
		text-transform: none!important;
  }
  
  &__label{
    max-width: 160px!important;
    min-width: 160px;
    padding-right: 0px;
  }

  &__form{
    width: 100%;
    margin: 0px!important;
  }

  &__inputText{
    max-width: 400px;
  }

  &__listarPessoas{
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 600px){
  .modalBusca{
    margin-left: 100px;
  }
}

@media (max-width: 599px){
  .modalBusca{
    margin-left: 0px;
  }
}

@media (min-width: 600px) and (max-width: 750px){
  .modalBusca__dialog{
    max-width: 500px;
    min-width: 300px;
    width: 60%;
  }
}

@media (max-width: 500px) {
  .modalBusca__listarPessoas{
    justify-content: center;
  }
}