
.CadastroCrianca-label{
    min-width: 170px;
    padding-right: 0px;
}

.CadastroCrianca-inputText{
    max-width: 500px;
}

.CadastroCrianca-inputNumber{
    min-width: 180px;
    max-width: 200px;
}