.contatoOng {
    &__link {
        color: #E8EAED;
        margin-left: 20px;
        margin-bottom: 10px;
        outline: 0;
        display: flex;
        margin-right: auto;
        align-items: center;
        font-weight: 700;
    }
    &__link:hover {
        color: #fff;
        text-decoration: none;
    }
    &__icons {
        font-size: 2rem!important;
    }
    &__divIcons {
        display: flex;
        flex-direction: column;
    }
    @media (max-width: 767px) {
        &__info {
            padding: 10px 20px;
        }
    }
    @media (min-width: 768px) {
        &__info {
            padding: 20px 20px;
        }
    }
    &__txt1 {
        font-family: Poppins-Regular;
        font-size: 18px;
        line-height: 1.2;
        color: #F8F9FA;
        font-weight: bold;
    }
    &__txt2 {
        font-family: Poppins-Regular;
        font-size: 15px;
        line-height: 1.6;
        color: #FFF;
        padding-left: 20px;
    }
}