@media (min-width: 600px) {
    .FormsCadastrarResponsavel{
        margin-left: 240px;
        width: calc(100%-250);
        max-width: 1000px;
    }
}

.FormsCadastrarResponsavel{
    padding: 30px;
    display: block;
    margin-top: 60px;
}

@media (max-width: 599px){
    .FormsCadastrarResponsavel{
        width: 95%;
    }
}