.cardPessoa{
  width: 330px;
  min-height: 140px;
  align-items: center;
  border: 1px solid rgba(#000, .2);
  border-radius: 5px;
  display: flex;
  background-color: #ffffff!important;
  padding: 5px 0px 5px 0px;
  color: #30333C;
  pointer-events: visible;
  cursor: pointer;

  &__img {
    height: 100px;
    width: 100px;
    padding: 2px;
    border-radius: 5px;
  }

  &__divInfo{
    width: 220px;
    margin-left: 10px;
  }

  &__dados{
    margin: 0px;
  }

}

@media (max-width: 350px){
  .cardPessoa{
    margin: 5px 0px 5px 0px;
  }
}

@media (min-width: 351px){
  .cardPessoa{
    margin: 5px 5px 5px 5px;
  }
}