.SnackbarAlert{
    padding: 5px 5px!important;
    width: 250px;
    display: flex;
    padding: 6px 16px!important;
    justify-content: space-between;
}

.SnackbarLabel{
    margin: 0;
    font-weight: 500;
    color: #fff;
    padding: 8px 0;
}