.visualizarEvento {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &-content {
        width: 100%;
        max-width: 500px;
        border: 1px solid rgba(#000, .2);
        border-radius: 5px;
        background-color: #ffffff!important;
        color: #30333C;
        padding: 10px;
        margin-bottom: 20px;
        h2 {
            margin: 0;
        }

    }
}