.cardAlbum {
    width: 100%;
    max-width: 350px;
    border: 1px solid rgba(#000, .2);
    border-radius: 5px;
    display: block;
    background-color: #ffffff!important;
    color: #30333C;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    &__body {
        width: 100vw;
        height: 100vw;
        max-width: 348px;
        max-height: 348px;
        padding: 0;
        overflow-y: hidden;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        height: 100%;
        width: 100%;
        border-style: none;
        object-fit: cover;
    }
    &__default {
        height: 100%;
        width: 100%;
        border-style: none;
        background-color: darkgray;
    }
    &__dados {
        margin: 0px;
        padding-bottom: 5px;
    }
    &__footer {
        display: block;
        button {
            display: block;
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 350px) {
    .cardAlbum {
        margin: 5px 0px 5px 0px;
    }
}

@media (min-width: 351px) {
    .cardAlbum {
        margin: 5px 5px 5px 5px;
    }
}

//Lista de cards
.listarAlbum {
    display: flex;
    flex-wrap: wrap;
}

//Adicionar fotos no album
.adicionarFotos {
    &__label {
        min-width: 170px;
        padding-right: 0px;
        max-width: 170px;
    }
    &__inputText {
        max-width: 500px;
    }
    &__error {
        font-size: 80%;
        color: #dc3545;
    }
}

//Modal edit title css 
.modalEditTitle {
    margin-top: 50px;
    height: calc(100vh - 30px);
    &__dialog {
        max-width: 700px;
        min-width: 300px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    &__header {
        padding: 5px 10px 0px 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        width: 100%;
    }
    &__link {
        color: #30333C!important;
        text-decoration: none;
        padding: 4px 2px;
        margin-top: 2px;
        margin-right: 5px;
        cursor: pointer;
        display: flex;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 5px;
    }
    &__descricao {
        margin-bottom: 20px;
    }
    &__label {
        min-width: 170px;
        padding-right: 0px;
        max-width: 170px;
    }
    &__inputText {
        max-width: 500px;
    }
}

//Visualizar album css
.visualizarAlbum {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &__header {
        width: 100%;
        max-width: 500px;
        border: 1px solid rgba(#000, .2);
        border-radius: 5px;
        background-color: #ffffff!important;
        color: #30333C;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;
        h2 {
            margin: 0;
        }
    }
    &__dados {
        margin: 0px;
        padding: 5px 10px;
        margin-top: 2px;
        margin-right: 5px;
        cursor: pointer;
        margin-bottom: 5px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    &__text {
        color: #30333C!important;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        margin-top: 2px;
    }
    &__itemListImage {
        box-shadow: 3px 3px 4px #888888;
        border: 1px solid #888888;
        min-width: 300px;
        width: 100%;
        max-width: 400px;
        height: 450px;
        display: block;
        margin: 10px 10px 10px 10px;
    }
    &__headerDelete {
        border-bottom: 1px solid #888888;
        background-color: #FFF;
        height: 50px;
        padding: 9px 10px 9px 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__headerImg {
        border-bottom: 1px solid #888888;
        background-color: #FFF;
        height: 50px;
        padding: 9px 10px 9px 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link-delete {
        color: #bc2018!important;
        cursor: pointer;
        padding: 3px 4px 1px 4px;
        font-weight: 700;
        font-size: 15px;
        svg {
            margin-bottom: 3px;
        }
        border-radius: 18px;
        border: 1px solid rgba(216, 20, 89, 0.5);
    }
    &__link-delete:hover {
        border: 1px solid rgb(220, 0, 78);
        background-color: rgba(220, 0, 78, 0.04);
    }
    &__link {
        color: #30333C!important;
        cursor: pointer;
        padding: 3px 4px 1px 4px;
        font-weight: 700;
        font-size: 15px;
        svg {
            margin-bottom: 3px;
        }
        border-radius: 18px;
        border: 1px solid #C6CDD4;
    }
    &__link:hover {
        border: 1px solid #7F8F9F;
        background-color: #E8EAED;
    }
    &__divImg {
        width: 398px;
        height: 400px;
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__divFundo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }
    &__fundo {
        transform: scale(11);
        height: 10%;
        width: 10%;
    }
    &__span {
        -webkit-filter: blur(2px);
    }
    &__imgFundo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__img {
        object-fit: contain;
        width: 90%;
        height: 90%;
        position: absolute;
    }
}