.endereco {
    &__inputText {
        max-width: 500px;
    }
    &__label {
        min-width: 170px;
        padding-right: 0px;
        max-width: 170px;
    }
    &__inputNumber {
        min-width: 215px;
        max-width: 215px;
    }
}